<layout name="Common/layout"/>
<div class="container-fluid" id="finance">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>财务管理</h2>
            </div>
            <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                <ul class="breadcrumb justify-content-end">
                    <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">财务管理</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">

        <div class="col-12">
            <div class="card">
                <div class="body">
                    <ul class="nav nav-tabs-new2">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Home-new2" data-index="0">财务流水</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Profile-new2" data-index="1">流水管理</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#add-finance" data-index="2">添加流水</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane  active show" id="Home-new2">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover dataTable text-center" id="finance_look">
                                    <thead>
                                    <tr>
                                       <th colspan=""></th>
                                       <th colspan="4" class="text-primary"><h4>支出</h4></th>
                                       <th colspan="4" class="text-success"><h4>收入</h4></th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th class="text-primary">资金去向</th>
                                        <th class="text-primary">金额</th>
                                        <th class="text-primary">支付详情</th>
                                        <th class="text-primary">支付日期</th>
                                        <th class="text-success">资金来源</th>
                                        <th class="text-success">金额</th>
                                        <th class="text-success">收款备注</th>
                                        <th class="text-success">收款日期</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="Profile-new2">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover dataTable text-center" id="finance_manager">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>交易类别</th>
                                        <th>资金来源|去向</th>
                                        <th>金额</th>
                                        <th>交易详情</th>
                                        <th>交易日期</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="add-finance">
                            <form id="basic-form" method="post">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-2 col-lg-1 l-h-36">
                                            <label ><span class="text-danger">*</span>类型</label>
                                        </div>
                                        <div class="col-lg-11 col-10">
                                            <select class="form-control" name="type" required v-model="trade_type">
                                                <option value="income">收入</option>
                                                <option value="expense">支出</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-2 col-lg-1 l-h-36">
                                            <label ><span class="text-danger">*</span>{{trade_type=='income'?'来源':'去向'}}</label>
                                        </div>
                                        <div class="col-lg-11 col-10">
                                            <input type="text" class="form-control" :placeholder="trade_type=='income'?'请填写来源':'请填写去向'" name="title" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-2 col-lg-1 l-h-36">
                                            <label><span class="text-danger">*</span>金额</label>
                                        </div>
                                        <div class="col-lg-11 col-10">
                                            <input type="number" class="form-control" placeholder="交易金额" name="money" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-2 col-lg-1 l-h-36">
                                            <label><span class="text-danger">*</span>日期</label>
                                        </div>
                                        <div class="col-lg-11 col-10">
                                            <input type="date" class="form-control" required name="trade_time" placeholder="交易日期">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-2 col-lg-1 l-h-36">
                                            <label><span class="text-danger">*</span>详情</label>
                                        </div>
                                        <div class="col-lg-11 col-10">
                                            <textarea class="form-control" placeholder="交易的详情备注" required name="description" rows="5">

                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" v-if="trade_type=='income'">
                                    <div class="row">
                                        <div class="col-2 col-lg-1 l-h-36">
                                            <label>关联项目</label>
                                        </div>
                                        <div class="col-lg-11 col-10">
                                            <select name="project_id" class="form-control">
                                                <option value="0" selected>若有关联项目，请选择相应的项目， 若没有请忽视！</option>
                                                <option :value="p.id" v-for="p in projectList">客户：{{p.customer_name}}、{{hideTel(p.customer_tel)}}----项目地址：{{p.village_name}} {{p.house_id}}</option>
                                            </select>
                                            <div class="m-t-10">
                                                <span class="badge badge-info">选择关联的项目时，将自动更新项目的尾款!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-2 col-lg-1">
                                        </div>
                                        <div class="col-10 col-lg-11">
                                            <button type="submit" class="btn btn-primary" id="btn-submit">确认添加</button>
                                            <button type="reset" class="btn btn-dark">重置</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

