<layout name="Common/layout"/>
<div class="container-fluid" id="business">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>业务管理</h2>
            </div>
            <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                <ul class="breadcrumb justify-content-end">
                    <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">业务管理</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">

        <div class="col-12">
            <div class="card">
                <div class="body">
                    <ul class="nav nav-tabs-new2">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Home-new2">业务列表</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Profile-new2">添加项目</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active show" id="Home-new2">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover dataTable js-exportable">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>状态</th>
                                        <th>地址</th>
                                        <th>门牌</th>
                                        <th>客户信息</th>
                                        <th>业务员</th>
                                        <th>星级</th>
                                        <th>跟踪日期</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="Profile-new2">
                            ###
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

