<layout name="Common/layout"/>
<div class="container-fluid" id="village">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2>工程地址</h2>
            </div>
            <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                <ul class="breadcrumb justify-content-end">
                    <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">工程地址管理</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">

        <div class="col-12">
            <div class="card">
                <div class="body">
                    <ul class="nav nav-tabs-new2">
                        <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Home-new2">工程地址列表</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Profile-new2">添加地址</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane  active show" id="Home-new2">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover dataTable text-center  js-exportable">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>状态</th>
                                        <th>地址</th>
                                        <th>创建者</th>
                                        <th>添加时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="Profile-new2">
                            <form id="basic-form" method="post">
                                <input type="hidden" name="user_id" :value="uid">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-2 col-lg-1 l-h-36">
                                            <label >地址</label>
                                        </div>
                                        <div class="col-lg-11 col-10">
                                            <input type="text" class="form-control" placeholder="填写工程地址" name="title" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-2 col-lg-1 l-h-36">
                                            <label >首字母</label>
                                        </div>
                                        <div class="col-lg-11 col-10">
                                            <input type="text" class="form-control" placeholder="填写工程地址汉语拼音的首字母,如：威尼斯花园 对应 w" name="first_letter" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-2 col-lg-1">
                                            <label>状态</label>
                                        </div>
                                        <div class="col-lg-11 col-10">
                                            <div class="">
                                                <label class="fancy-radio">
                                                    <input type="radio" name="status" value="1" required="" checked>
                                                    <span><i></i>可用</span>
                                                </label>
                                                <label class="fancy-radio">
                                                    <input type="radio" name="status" value="0" >
                                                    <span><i></i>不可用</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-2 col-lg-1">
                                        </div>
                                        <div class="col-10 col-lg-11">
                                            <button type="submit" class="btn btn-primary" id="btn-submit">确认添加</button>
                                            <button type="reset" class="btn btn-dark">重置</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

